<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Tienda VM-Woodworking</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container" id="productFeed">
        {{#each products}}
        <div class="product">
            <h4>{{title}}</h4>
            <img class="product-image" src="{{thumbnail}}" alt="imagen de {{title}}" width="200" height="auto">
            <div class="product__info">
                <p>{{description}}</p>
                <p>Precio: {{price}}</p>
                <p>Stock: {{stock}}</p>
                <p>C贸digo: {{code}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="form">
        <form action="/api/realTimeProducts" id="productForm" method="post">
            <legend>Agregar Producto</legend>

            <div>
                <label>Titulo: </label>
                <input type="text" id="productTitle" name="title">
            </div>
            <div>
                <label>Descripci贸n: </label>
                <input type="text" id="productDescription" name="description">
            </div>

            <div>
                <label>Imagen: </label>
                <input class="product-image" type="text" id="productThumbnail" name="thumbnail">
            </div>
            <div>
                <label>Precio: </label>
                <input type="number" id="productPrice" name="price">
            </div>
            <div>
                <label>C贸digo: </label>
                <input type="text" id="productCode" name="code">
            </div>
            {{!-- <div>
                <label>Estado: </label>
                <input type="radio" name="status" id="productStatusTrue" value="true">
                <label for="productStatusTrue">Agregar Nuevo</label>
                <input type="radio" name="status" id="productStatusFalse" value="false">
                <label for="productStatusFalse">Borrar</label>
            </div> --}}
            <div>
                <label>Stock: </label>
                <input type="number" id="productStock" name="stock">
            </div>
            <button type="submit" id="addProduct" value="Agregar">Agregar</button>
    </div>
    </form>
    <form id="deleteForm" method="POST">
        <legend>Eliminar Producto</legend>
        <div>
            <label>C贸digo del Producto a Eliminar: </label>
            <input type="text" id="productCodeToDelete" name="codeToDelete">
        </div>
        <div>
            <button type="button" id="deleteProduct">Eliminar</button>
        </div>
    </form>
</body>

</html>